<mat-toolbar color="primary" class="navbar">    
    <div class="div">
        <span>{{titulo}}</span>   
    </div>    
    <div class="navbar">        
        <a mat-button [routerLink]="['../login']">Sair</a>        
    </div> 
</mat-toolbar>
<div class="content">
    <router-outlet></router-outlet>    
</div>