<h1 mat-dialog-title>Cadastrar nova categoria</h1>
<div mat-dialog-content>  
  <mat-form-field appearance="fill">
    <mat-label>Nome da Categoria</mat-label>
    <input matInput [(ngModel)]="data.nome">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>