<h1 mat-dialog-title>Cadastrar nova lista</h1>
<div mat-dialog-content>  
  <mat-form-field appearance="fill">
    <mat-label>Nome da Nova Tarefa</mat-label>
    <input matInput [(ngModel)]="data.nome">
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>Categoria</mat-label>
    <select matNativeControl [(ngModel)]="data.categoriaId" name="categoria">
      <option value="" selected></option>
      <option *ngFor="let categoria of categorias" [value]="categoria.id">
        {{categoria.nome}}
      </option>
    </select>
  </mat-form-field> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>