<div class="centerdiv">
    <mat-form-field appearance="fill">
        <mat-label>Usuário</mat-label>
        <input matInput [(ngModel)]="usuario.nome">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput type="password" [(ngModel)]="usuario.senha">
    </mat-form-field>
    <br>
    <div class="centerdivbuttons">
        <button mat-raised-button (click)="Login()" color="primary">Login</button>
        <a mat-raised-button [routerLink]="['../cadastro']">Cadastrar-se</a>
    </div>    
</div>