<div class="containerpesquisa">
  <mat-form-field appearance="fill">
    <mat-label>Pesquisar Lista</mat-label>
    <input matInput [(ngModel)]="filtroLista">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pesquisar Categoria</mat-label>
    <select matNativeControl [(ngModel)]="filtroCategoria" name="filtroCategoria">
      <option value="" selected></option>
      <option *ngFor="let categoria of categorias" [value]="categoria.id">
        {{categoria.nome}}
      </option>
    </select>
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="filtrarCampos()">
      <mat-icon>search</mat-icon>Pesquisar
    </button>
  </div>
  <div class="containerbutton">
  </div>
  <div class="buttonitem">
    <button mat-raised-button color="primary" (click)="novaLista()">
      <mat-icon>add</mat-icon>Nova Lista
    </button>
  </div>
  <div class="buttonitem">
    <button mat-raised-button color="primary" (click)="novaCategoria()">
      <mat-icon>add</mat-icon>Nova Categoria
    </button>
  </div>
</div>
<div>
  <mat-accordion *ngFor="let lista of listas">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{lista.nome}}
        </mat-panel-title>
        <mat-panel-description>
          {{lista.Categoria.nome}}
        </mat-panel-description>
        <mat-action-row>
          <mat-checkbox [checked]="lista.concluida" (change)="alterarStatusLista(lista, $event)"></mat-checkbox>
        </mat-action-row>
        <mat-action-row>
          <button mat-button (click)="alterarNomeLista(lista)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-action-row>
        <mat-action-row>
          <button mat-button (click)="deletarLista(lista.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel-header>
      <button mat-raised-button color="primary" (click)="novaTarefa(lista)">
        <mat-icon>add</mat-icon>Nova Tarefa
      </button>
      <div class="expansioncontent" *ngFor="let tarefa of lista.Tarefas">
        <div class="expansiontext">
          {{tarefa.nome}}
        </div>
        <div class="expansionaction">
          <mat-checkbox [checked]="tarefa.concluida" (change)="alterarStatusTarefa(tarefa, $event)"></mat-checkbox>
          <button mat-button (click)="alterarNomeTarefa(lista.id, tarefa)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button (click)="deletarTarefa(tarefa)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>