<div class="centerdiv">
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="usuario.nome">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="usuario.email">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput type="password" [(ngModel)]="usuario.senha">
    </mat-form-field>
    <br>
    <div class="centerdivbuttons">
        <button mat-raised-button color="primary" (click)="cadastrarUsuario()">Cadastrar</button>
        <a mat-raised-button [routerLink]="['../login']">Voltar</a>
    </div>    
</div>