/* You can add global styles to this file, and also import other style files */
*,*:before,*:after {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centerdiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.centerdivbuttons {
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.navbar {
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    flex-wrap: wrap;
    height: 70vh;
}

.containerbutton {  
    display: flex;
    justify-content: flex-end;     
    margin: 1rem;    
}

.buttonitem {
    margin: 1rem;
}

.expansioncontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    transition: all .2s ease-in-out;
}

.expansioncontent:hover {
    background-color: rgba(87, 88, 89, 0.3);
}

.expansiontext {
    margin: .3rem;
    justify-self: flex-start;
}

.expansionaction {
    display: flex;
    justify-self: flex-end;        
    align-items: center;
    justify-content: space-between;
}

.containerpesquisa {
    display: flex;
    justify-content: space-around;
}